body{
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}
#color-change{
    color: chocolate;
}
.first-banner{
    display: flex;
    padding-left: 10%;
    padding-top: 10%;
    margin-bottom: 10%;
   
}
#heading{
    font-size: 30px;
    padding-right: 15%;
    font-weight: 900;
    line-height: 60%;
    color: #565656;
  
} 
 .first-banner img{
     margin-top: -5%;
     width: 30%;
 
 }

 #heading p{
     margin-top: 10%;
     font-size: 12px;
     margin-bottom: 10%;
 }
 #link-button{
     
     text-decoration: none;
    background-image: linear-gradient(orange , red);
    border-radius: 40px;
   padding: 15px 20px;
   font-size: 15px;
   color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 300;
 }

 .secound-banner{
     background-image: url(./image/Frame.jpg);
     background-size: 90%;
     

     
 }
 #middle-part{
     padding-left: 20%;
     text-align: justify;
     padding-right: 10%;
 }
 .secound-banner img{
     width: 25%;
 }
 .secound-banner p{
     padding-bottom: 10%;
 }
 #about{
     color: #565656;
     font-weight: 900;
 }